# Evita copiar el entorno virtual local
venv/
.env
.env.*

# Archivos temporales y cachés de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
*.egg

# Archivos de pruebas y cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
.pytest_cache/
.junit.xml

# Caché de linters y analizadores estáticos
.mypy_cache/
.dmypy.json
.pytype/
.pyre/

# Archivos de configuración de IDEs/editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos y directorios del sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db

# Archivos de logs y dumps
*.log
*.pid
*.gz
*.tmp

# Archivos de Docker que no se deben copiar al contenedor
Dockerfile
.dockerignore
docker-compose.yml

# Archivos relacionados a documentación o configuración local
README.md
*.md
*.pdf
